<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    
  <a class="navbar-brand" href="#">
   <img class="logo" src="assets/SYC.png" style="width:200px; height:60px;" alt="SYC">
  </a>
  <a class="navbar-brand" href="#">
      <span style="font-size: 16px; color: rgb(159, 30, 30);">Estadisticas de vacunación</span>
  </a>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<app-my-loader></app-my-loader>


<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><small>© 2022 Copyright: UES SC</small></div>
  <!-- Copyright -->  
</footer>